@charset "UTF-8";


/*
em HTML é ID - em CSS é # ( somente um elemento ) 
em HTML é class - em CSS é . ( varzea )
*/


body{
    background-color: rgba(96, 7, 144, 0.429);
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: rgb(128, 0, 96);

}

h2{
    color: #AE69F4;
}

#principal{ 
    /* Pode ser ou #principal ou h1#principal*/
    text-align: center;
    background-color: rgb(128, 0, 96);
    color: white;

}

.basico{
    color: rgba(66, 156, 43, 0.69);
    font-weight: 900;
}

.intermediario{
    color: rgba(255, 255, 95, 0.685);
}

.avancado{
    color: rgb(255, 84, 84);
    
}

.destaque{
    font-weight: 900;
    color: hotpink;
}


a{
    color: cadetblue;
}